

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  justify-content: center; 
  align-items: center; 
  background: linear-gradient(to bottom right, #add8e6, #010112);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}


.search {
  display: flex;
    justify-content: center;
    margin-top: 20px; /*Optional: Adjust margin as needed*/
    transform: translateX(75%);
    /* transform: translateY(20%); */
    background-color: rgb(228, 226, 226);
    /* border-radius: 50px; */
    width: 40%;
    height: 0%;
    /* height: 50px; */
    right: 30px;
    left: 30px;
    /* border:none; */
}

.logistics-search{
  display: flex;
    justify-content: center;
    margin-top: 20px; /*Optional: Adjust margin as needed*/
    transform: translateX(10%);
    /* transform: translateY(20%); */
    background-color: rgb(228, 226, 226);
    /* border-radius: 50px; */
    width: 85%;
    height: 0%;
    /* height: 50px; */
    right: 30px;
    left: 30px;
    /* border:none; */
}

.event-container {
  margin-top: 80px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;
  grid-column-gap: 50px;
  padding: 10px;
  max-height: calc(100vh - 80px); /* Adjust based on the height of navbar */
  
}

.event-box {
  background-color: #0a0a0a;
  border: 1px solid #0f0f0f;
  border-radius: 5%;
  padding: 15px;
  width: 350px;
  height: 300px;
  box-sizing: border-box;
  line-height: 1.2;
  position : relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  opacity: 0.6;
  color:white;
}
.event-name{
  text-align: left;
  font-weight:bold;
  font-size: 25px;
  
}
.event-date {
  text-align: right;
  font-weight: bold;
  font-size: 15px;
  margin-top: -18px;
}
.event-type {
  text-align: left;
  font-weight: bold;
  margin-top: 10px;
  font-size: 15px;
}
.event-description {
  margin-top: 40px;
  font-size: 15px;
  text-align: center;
}
.event-list {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  margin-top: 50px;
  margin-right: 300px;
  margin-bottom: 0;
}
.p-event-list {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  margin-top: 50px;
  margin-right: 150px;
  margin-bottom: 0;
}

.event-header {
  display: flex;
  justify-content: space-between;
  width: 150%;
  padding: 10px 0;
  border-bottom: 1px solid #ccc;
  font-weight: bold;
}

.event-header span {
  flex: 1; /* Each header span takes equal width */
  text-align: left; /* Align text in header spans to center */
  padding: 0 30px; /* Add padding between columns */
}

.event-item {
  display: flex;
  justify-content: space-between;
  width: 150%;
  padding: 10px 0;
  border-bottom: 1px solid #eee;
}

.event-item span {
  flex: 1; /* Each item span takes equal width */
  padding: 0 30px; /* Add padding between columns */
  text-align: left; /* Align text in item spans to center */

}

.volunteer-button {
  transition-duration: 0.4s;
  background-color: #0acd51;
  color: white;
  padding: 10px 20px;
  text-align: center;
  position: absolute;
  bottom: 10px;
  left: 10px;
  width: auto;
  border-color: black;
}

.volunteer-button:hover {
  background-color: #054e29; 
  color: white;
}

.button {
  transition-duration: 0.4s;
  background-color: #1e95f7;
  color: white;
  padding: 10px 20px;
  text-align: center;
  position: absolute;
  bottom: 10px;
  right: 10px;
  width: auto;
  border-color: black;
  bottom: 10px; /* Adjust as needed */
  right: 10px; /* Adjust as needed */

  /* New styles */
  width: auto; /* Allow button width to adjust */

}

.button:hover {
  background-color: #2441a6; 
  color: white;
}

