
/* body {
    background-image: url('./background.jpg');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
} */

.main-login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.welcome-message {
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    font-style: bold;
    color: #ffffff;
    /* text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;  */
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
}

.wrapper {
    width: 420px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(30px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    color: #fff;
    border-radius: 10px;
    padding: 30px 40px;
}

.wrapper h2 {
    font-size: 28px;
    text-align: center;
}

.wrapper .input-box{
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}

.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    outline: none;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 40px;
    font-size: 16px;
    color: #fff;
    padding: 20px 45px 20px 20px;
}

.input-box input::placeholder {
    color: #fff;
}

.input-box .icon{
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 16px;
}

/* .wrapper .dropdown{
    width: 400px;
    margin: 100px auto;
    position: relative;
} */

/* .wrapper .dropdown-btn{
    padding: 15px 20px;
    background: #fff;
    box-shadow: 3px 3px 10px 6px rgba(0, 0, 0, .06);
    font-weight: bold;
    color: #333;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.wrapper .dropdown-content{
    display: none;
    position: absolute;
    top: 110%;
    left: 0;
    padding: 10px;
    background: #fff;
    box-shadow: 3px 3px 10px 6px rgba(0, 0, 0, .06);
    font-weight: 500;
    color: #333;
    width: 95%;
}

.dropdown-content .dropdown-item {
    padding: 10px 0;
    cursor: pointer;
    transition: all 0.2s;
}

.dropdown-content .dropdown-item {
    
} */
/* Add styles for the dropdown menu */
.wrapper .role-dropdown {
    width: 100%;
    position: relative;
    margin: 30px 0; /* Adjust margin as needed */
}

.role-dropdown select {
    width: 100%;
    height: 50px;
    background: transparent;
    outline: none;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 40px;
    font-size: 16px;
    color: #fff;
    padding: 12px 42px 12px 20px;
    appearance: none; /* Remove default dropdown arrow */
    -webkit-appearance: none; /* For Safari */
    -moz-appearance: none; /* For Firefox */
    background-image: url('data:image/svg+xml;utf8,<svg fill="%23ffffff" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path d="M7 10l5 5 5-5z"/></svg>'); /* Add custom dropdown arrow */
    background-repeat: no-repeat;
    background-position: right 20px center;
}

/* Adjust the styling of the dropdown arrow icon */
.role-dropdown select::-ms-expand {
    display: none; /* Hide arrow in IE10 and IE11 */
}

/* Adjust the position and styling of the dropdown options */
.role-dropdown select option {
    background-color: rgba(0, 0, 0, .5); /* Adjust background color as needed */
    color: #fff; /* Adjust text color as needed */
    padding: 10px;
}

.wrapper .remember-me {
    display: flex;
    justify-content: space-between;
    font-size: 14.5px;
    margin: -15px 0 15px;
}

.remember-me label input {
    accent-color: #fff;
    margin-right: 4px;
}

.remember-me a {
    color: #fff;
    text-decoration: none;
}

.remember-me a:hover {
    text-decoration: underline;
}

.wrapper button {
    width: 100%;
    height: 45px;  
    background: #fff;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 700;
}

.wrapper .register-link {
    font-size: 14.5px;
    text-align: center;
    margin: 20px 0 15px; 
}

.register-link p a:hover {
    text-decoration: underline;
} 
/* .select-role {
    margin-top: 20px; 
}

.role-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.role-buttons div {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px; 
}

.role-buttons div button {
    flex-grow: 1; 
    margin-right: 30px; 
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
} */


