/* signup.css */
body{
    color: white;
}
.signup-container {
    width: 420px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(30px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    color: #fff;
    border-radius: 10px;
    padding: 30px 40px;
    margin: 0 auto;
}

.signup-container h2 {
    font-size: 28px;
    text-align: center;
    margin-bottom: 20px;
    color: white;
}

.user-type-dropdown {
    position: relative;
    width: 100%;
    margin-bottom: 20px;
}

.user-type-dropdown select {
    width: 100%;
    height: 50px;
    background: transparent;
    outline: none;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 40px;
    font-size: 16px;
    color: #fff;
    padding: 12px 42px 12px 20px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url('data:image/svg+xml;utf8,<svg fill="%23ffffff" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path d="M7 10l5 5 5-5z"/></svg>');
    background-repeat: no-repeat;
    background-position: right 20px center;
}

.user-type-dropdown select::-ms-expand{
    display: none; /* Hide arrow in IE10 and IE11 */
}

.user-type-dropdown option {
    background-color: rgba(0, 0, 0, 1); /* Adjust background color as needed */
    color: #fff; /* Adjust text color as needed */
    padding: 10px;
}

.user-fields {
    margin-bottom: 20px;
    color: #fff;
}

.user-fields input {
    width: 100%;
    height: 50px;
    background: transparent;
    outline: none;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 40px;
    font-size: 16px;
    color: #fff;
    padding: 20px 45px 20px 20px;
    margin: 5px;
}
.user-fields input::placeholder {
    color: #fff;
}

.signup-btn {
    width: 100%;
    height: 45px;  
    background: #fff;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 700;
}
